@laptop: ~ "(min-width: 800px)";
@tablet: ~ "(max-width: 800px)";
@mobile: ~ "(max-width: 600px)";

//colors

@color-black: #777;
@color-white: #fff;
@color-lightred: #e60a0acc;
@color-lightblue: #450bb1;
@color-red: red;
@color-primary-light: #ce3d3d;
@color-primary-dark: rgb(62, 16, 16);
